.App {
  height: 100vh;
  width: 100vw;
  max-width: 100%;
  background-color: rgb(163, 212, 214);
  display: flex;
  flex-direction: column;
  
  align-items: center;
}

.displayLists {
  display: flex;
  justify-content: space-between;
  width: 60%;
}

.pageTitle {
  margin-top: 0;
  padding-top: 2rem;
}
