.listContainer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
    background-color: #ffffff88;
    border-radius: 5%;
    margin: 2rem;
    padding: 1rem;
}

@media only screen and (max-width: 800px) {
    
    .listContainer{
        width: 90%;
        max-width: 100%;
        margin: 2%;
    }    
}