.listContainer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
    background-color: #ffffff88;
    border-radius: 5%;
    margin: 2rem;
}

.listContainer__h4 {
    padding: 1rem;
}


@media only screen and (max-width: 600px) {
    
  
  
    
    .listContainer{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 90%;
        max-width: 100%;
        background-color: #ffffff88;
        border-radius: 1%;
        margin: 2%;
    }    
 
  }