.searchHeading {
    display: flex;
}

@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }

.searchHeading__h4 {
    margin-right: 1rem;
}

.searchHeading__img--spinner {
    width: 10%;
    animation: rotation 2s infinite linear;
}
